{% extends 'base.html.twig'%}
{% block body %}

<a href="/ex10">Retour</a>

<h1>TABLE SQL</h1>
<table style="border: solid;">
  <tr>
  {% for column in columns_sql %}
    <th>{{column}}</th>
  {% endfor %}
  </tr>
    {% for infos in informations_sql %}
    <tr>
      {% for column in columns_sql %}
      <td>{{infos[column]}}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>

<h1>TABLE ORM</h1>
<table>
    <tr>
    {% for column in columns %}
        <th>{{column}}</th>
      {% endfor %}
    </tr>
    {% for info in informations %}
    <tr>
    {% for column in columns %}
      <td>{{ attribute(info, column)}}</td>
    {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}