{% extends 'base.html.twig' %}

{% block content %}
    <div style="height:400px">
        <h2>Retouvez tous nos articles sur les animaux:</h2>
        <a href="/e01/bluewhale">Baleine bleue</a>
        <a href="/e01/goeland">Goeland</a>
        <a href="/e01/tiger">Tigre</a>
    </div>
{% endblock %}