{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="text-align:center;">Les baleines bleues</h1>
    <div style="display: flex;justify-content: center;">
        <div style="width:50%;">
            <img src="{{ asset('images/bluewhale.jpeg') }}" alt="blue-whale" style="padding-left: 130px">
            <p style="text-align:center;">La baleine bleue (Balænoptera musculus), appelée aussi rorqual bleu, 
            est une espèce de cétacés de la famille des balænopteridés. Sa longueur moyenne 
            est de 25 à 27 m pour une masse de 130 tonnes, les femelles étant plus grandes 
            que les mâles. C'est le plus gros animal vivant à notre époque et même, dans 
            l'état actuel des connaissances, ayant vécu sur Terre (devant deux grands sauropodes 
            dont le Diplodocus hallorum). Le spécimen confirmé le plus long mesurait 33,5 
            m de long1 et le plus lourd pesait 190 tonnes2,3.

            Long et mince, le corps de la baleine bleue peut prendre diverses teintes de 
            gris bleuté sur le dos et un peu plus clair en dessous. On dénombre au moins 
            trois sous-espèces distinctes : B. m. musculus dans l’Atlantique Nord et le 
            Pacifique Nord, B. m. intermedia de l’océan Antarctique et B. m. brevicauda 
            découverte dans l’océan Indien et dans le sud de l’océan Pacifique. B. m. 
            indica, découverte dans l’océan Indien, pourrait être une autre sous-espèce. 
            Comme les autres baleines, la baleine bleue se nourrit essentiellement d’un 
            petit crustacé, le krill, de planctons mais également de petits poissons et 
            parfois de calmars.

            Les baleines bleues étaient abondantes dans presque tous les océans avant le 
            début du XXe siècle. Pendant près de quarante ans, elles furent chassées par 
            les baleiniers qui ont amené l'espèce au bord de l'extinction avant qu'elle 
            ne soit protégée par la communauté internationale en 1966. Un rapport de 2002 
            estimait qu’il y avait entre 5 000 et 12 000 baleines bleues à travers le 
            monde, localisées dans au moins cinq groupes. En 2018, l'UICN estime la 
            population entre 5 000 et 15 000 individus4. Des études plus récentes sur 
            la sous-espèce B. m. brevicauda suggèrent qu’il pourrait s’agir d’une 
            sous-estimation. Avant la chasse industrielle à la baleine, la plus forte 
            population se trouvait dans l’Atlantique, qui en comptait approximativement 
            240 000 (entre 202 000 et 311 000). L'espèce est classée en danger 
            d'extinction par l'UICN. </p>
        </div>

    </div>
{% endblock %}