{% extends 'base.html.twig' %}

{% block body %}

<form name="new_column_form" action="add_column_success" method="POST">
  Column name: <input type="text" name="column_name" required><br>
  Column type: <input type="text" name="column_type" required><br>
  <input type="submit">
</form>

{% endblock %}