{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="text-align:center;">Le goeland</h1>
    <div style="display: flex;justify-content: center;">
        <div style="width:50%;">
            <img src="{{ asset('images/goeland.jpeg') }}" alt="goeland" style="padding-left: 130px">
            <p style="text-align:center;">Goéland est un nom vernaculaire 
            ambigu désignant les espèces d'oiseaux marins de la famille des 
            laridés appartenant au genre Larus ainsi que d'autres espèces de 
            cette famille appartenant à d'autres genres. Sur les côtes 
            européennes, l'espèce la plus commune est le Goéland argenté (Larus argentatus). 
            En réalité, il n'y a guère que la langue française à faire cette 
            distinction de nomenclature entre « mouettes » et « goélands » : 
            pour simplifier, dans la nomenclature normalisée, un goéland est 
            une grosse mouette. En catalan et occitan où existe également une 
            distinction entre les deux groupes d'espèces, les termes équivalents 
            sont respectivement gavina/gavià (catalan) et gabina (ou gabianòlas) / 
            gabian (occitan), d'où vient le terme gabian utilisé sur les côtes 
            méditerranéennes. Toutefois, dans ces langues le terme employé a la même 
            origine (l'un est le diminutif de l'autre), contrairement au doublon français mouette/goëland.

            L'opinion la plus communément admise est que le français goéland est un emprunt au 
            breton gwelan ou gouelañ1 qui désigne effectivement les goélands et signifie « pleurer » 
            et qui décrit précisément le chant de cet oiseau. Son équivalent anglais, gull, a une 
            origine brittonique analogue2. La désignation des mouettes et goélands est effectivement 
            très homogène dans les langues celtiques du rameau brittonique : gwelan en breton 
            (Gouelan en breton moderne), gwylan en gallois et guilan en cornique. Ces trois termes 
            auraient pour origine commune le celtique *voilenno-3, racine que l'on retrouve aussi 
            dans les langues du rameau gaélique : l'irlandais faoileán, l'écossais faoileag et l'ancien écossais gûrplan3. </p>
        </div>

    </div>
{% endblock %}