{% extends 'base.html.twig' %}

{% block body %}

<h3>TABLE FILTERED</h3>
<table style="border: solid;">
  <tr>
  {% for column in columns_person %}
    <th>{{column}}</th>
    {% endfor %}
  </tr>
  {% for person in persons %}
  <tr>
  {% for column in columns_person %}
    <td>{{person[column]}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}