{% extends 'base.html.twig' %}

{% block content %}
    <h1 style="text-align:center;">Le tigre</h1>
    <div style="display: flex;justify-content: center;">
        <div style="width:50%;">
            <img src="{{ asset('images/tiger.jpeg') }}" alt="tiger" style="padding-left: 130px">
            <p style="text-align:center;">Le Tigre (Panthera tigris) 
            est une espèce de mammifère carnivore de la famille des 
            félidés (Felidae) du genre Panthera. Aisément reconnaissable 
            à sa fourrure rousse rayée de noir, c'est le plus grand félin 
            sauvage et l'un des plus grands carnivores terrestres, dépassé 
            seulement par les plus grandes espèces d'ours. L'espèce est 
            divisée en neuf sous-espèces présentant des différences mineures 
            de taille ou de comportement. Superprédateur, il chasse principalement 
            les cerfs et les sangliers, bien qu'il puisse s'attaquer à des 
            proies de taille plus importante comme les buffles jusqu'à l'énorme 
            gayal (rarement attaqué en raison de sa taille imposante et de ses 
            cornes qui peuvent tuer un tigre adulte). Jusqu'au XIXe siècle, le 
            tigre était réputé mangeur d'hommes, ce qu'il peut être 
            occasionnellement bien que ce soit rare. Comme la plupart des 
            félins, c'est un animal généralement solitaire ; le mâle possède 
            un territoire qui englobe les domaines de plusieurs femelles et 
            ne participe pas à l'éducation des petits.

            Le tigre se rencontre dans toute l'Asie, bien que son aire de 
            répartition se soit fortement réduite depuis le début du XXe 
            siècle. L'espèce est considérée comme en danger par l'Union 
            internationale pour la conservation de la nature et est protégée 
            sur l'ensemble des pays où elle vit. Chassées jusqu'au milieu du 
            XXe siècle, les populations de tigres ont fortement décru, passant 
            d'un effectif estimé à 100 000 individus en 1900 à environ 3 900 
            tigres, dont la majorité vivent en Inde. La réduction de son 
            habitat et le braconnage pour alimenter la médecine traditionnelle 
            chinoise sont les principales menaces qui pèsent sur l'espèce.

            « Roi des animaux » et signe zodiacal chinois, le tigre est 
            également très présent dans la mythologie hindoue, où il est 
            la monture de Durga. Figure emblématique représentant la force 
            et la férocité, ce félin est dépeint dans de nombreux tableaux, 
            et a figuré dans de nombreuses œuvres musicales et littéraires : 
            Shere Khan du Livre de la jungle de Rudyard Kipling ou encore 
            Hobbes dans la bande dessinée Calvin et Hobbes. </p>
        </div>

    </div>
{% endblock %}