{% extends 'base.html.twig' %}

{% block body %}

<form name="ex11_form" action="success_insert" method="POST">
  Username: <input type="text" name="username" required><br>
  Name: <input type="text" name="name" required><br>
  E-mail: <input type="text" name="email" required><br>
  <label for="enable">Enable?</label>
  <select name="enable" id="enable">
    <option value="true" selected>Yes</option>
    <option value="false">No</option>
  </select><br>
  Birthdate : <input type="date" name="birthdate" required><br>
  <input type="submit">
</form>

{% endblock %}